@font-face {
    font-family: 'Fabfelt Script';
    src: url('assets/fonts/fabfeltscript-bold.eot');
    src: url('assets/fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('assets/fonts/fabfeltscript-bold.woff') format('woff'),
         url('assets/fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('assets/fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #22222e;
}

.elm-overlay {
  z-index: 100;
  display: none;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  user-select: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 16px;
  cursor: crosshair;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.svgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #22222e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConfigPanelContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
}

.ConfigPanel {
  background-color: rgba(23,23,31,0.8);
  color: rgba(255,255,255,0.8);
  flex: 0 1 30em;
  transition: transform 0.5s;
  position: relative;

  cursor: unset;
}
.ConfigPanelClosed .ConfigPanel {
  transform: translateX(100%);
}

.ConfigPanelToggleContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.ConfigPanelToggle {
  padding: 0.4em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.ConfigPanelToggle:hover {
  background-color: rgba(255,255,255,0.6);
}
.ConfigPanelToggle:active {
  background-color: rgba(255,255,255,0.4);
}

.ConfigPanelClosed .ConfigPanelToggle {
  transform: translateX(-100%);
}
.ConfigPanelToggle.opener {
  opacity: 0;
  z-index: 20;
}
.ConfigPanelClosed .ConfigPanelToggle.opener {
  opacity: 1;
  z-index: 21;
}
.ConfigPanelToggle.closer {
  opacity: 1;
  z-index: 21;
}
.ConfigPanelClosed .ConfigPanelToggle.closer {
  opacity: 0;
  z-index: 20;
}


.ConfigPanelOptionsArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 0.5em;
}

.ConfigPanelTitle {
  font-size: 5em;
  font-family: "Fabfelt Script";
  color: white;
  opacity: 0.8;
  margin: 0.2em 0 0;
  text-align: center;
  font-weight: normal;
}
.ConfigPanelSubtitle {
  font-size: 1.8em;
  font-family: "Raleway";
  color: white;
  opacity: 0.5;
  margin: -0.5em 0 0;
  text-align: center;
  font-weight: 100;
}
.ConfigPanelOptionsBody {
  padding: 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ConfigPanelHeading {
  font-size: 1.4em;
  font-family: "Raleway";
  color: white;
  opacity: 0.8;
  margin: 1em 0 0;

  text-align: center;
  font-weight: 300;
}
.ConfigPanelKeyboardShortcutRow {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em 0;
}
.ConfigPanelKeyboardShortcutRow>.key {
  font-weight: 100;
  font-size: 1.5em;
  flex: 1;
  margin-right: 0.5em;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  font-family: "Raleway Dots";
}
.ConfigPanelKeyboardShortcutRow>.key>span {
  flex: 0;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  margin-left: 0.2em;
}
.ConfigPanelKeyboardShortcutRow>.description {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ConfigPanelKeyboardShortcutRow>.description>span>.sub {
  opacity: 0.5;
}
.ConfigPanelLicenseRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em 0;
}
.ConfigPanelLicenseContainer {
  opacity: 0.6;
}
.ConfigPanelLicenseContainer:hover {
  opacity: 1;
}
